.top-section{
    padding: 16px;
    border: 8px;
    gap: 8px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

.title{
    font-size: 32pt;
    text-align: center;
}

.notes{
    padding-left: 30px;
}